.vs/Avant-Garde-Collective.slnx/FileContentIndex/90fd3b13-3b22-46a4-952b-3ddbb5cfc2a6.vsidx
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/CodeChunks.db
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/CodeChunks.db-shm
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/CodeChunks.db-wal
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/SemanticSymbols.db
.vs/Avant-Garde-Collective.slnx/FileContentIndex/4aec1038-56a3-4434-bc18-3f16f5e0da7d.vsidx
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/SemanticSymbols.db-shm
.vs/Avant-Garde-Collective.slnx/FileContentIndex/1ad2c2b1-d69a-4bc8-836b-1044bb7ddcf6.vsidx
.vs/Avant-Garde-Collective/CopilotIndices/18.0.925.419/SemanticSymbols.db-wal
.vs/slnx.sqlite
.vs/Avant-Garde-Collective.slnx/FileContentIndex/d3c371e7-61ed-4783-b712-f146e4adac01.vsidx
.vs/Avant-Garde-Collective.slnx/FileContentIndex/b4439820-01f8-4fbf-9c5b-9569b746c220.vsidx
